@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,600');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

footer {
  background-color: rgb(33, 37, 41);
}

.app-name {
  color: #e9ecef;
}
.nav-link {
  color: #ffffff8c;
}

.nav-link:hover {
  color: #e27689;
  border-bottom-color: rgba(255, 255, 255, 0);
}

a {
  color: grey;
  text-decoration: none;
}

.tg-card {
  background-color: rgb(4, 40, 98);
  color: #fff;
}

.ib-card {
  background-color: #fe8301;
  color: #fff;
}

.aj-card {
  background-color: #00529c;
  color: #d4a10f;
}
.art-title {
  font-weight: bold;
}

.section-marker {
  color: #e27689;
  font-weight: bold;
}

h5:hover {
  color: #e27689;
}

img:hover {
  opacity: 0.7;
}
